body{
  background-color:blanchedalmond;
}


h1{
  text-align:justify;
  font-size: 50px;
  font-family:sans-serif;
}




.container {


  display: box;
  margin-top: 20px;
  margin-left: 800px;
  padding: 20px;
}
